name: Production Deploy
on:
  push:
    branches: [ main ]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Create Deployment Archive
        run: zip -r deploy.zip . -x ".git*"

      - name: Send-to-Server
        run: |
          curl -X POST -F "password=${{ secrets.DEPLOY_PASSWORD }}" -F "file=@deploy.zip" https://crm.kpvk.edu.kz/deploy_secret_92384.php
